name: Upload Python Package

on:
  push:
    tags:
      - '20*.*'

jobs:     
  deploy:
    strategy:
      matrix:
        python-version: ['3.11']
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip3 install setuptools wheel twine
        pip3 install -r requirements.txt
    - name: Build and publish python wheels
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python3 setup.py sdist bdist_wheel
        python3 -m twine upload dist/*.whl
